* {
	border: none;
	border-radius: 0;
	font-family: Nerd Font Hack;
	font-size: 14px;
	min-height: 16px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
	border-radius: 10px;
	transition: none;
	/*
    color: #f8f8f2;
    background: #282a36;
  */
  color: transparent;
	background: transparent;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
  color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0;
	border-radius: 10px;
	background: #7851A9;
	transition: none;
	padding-left: 10px;
	padding-right: 10px;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 14px;

	padding-left: 10px;
	padding-right: 10px;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button.current {
  color: #e18a3a;
  font-weight: bold;
}

#mpd,
#network,
#pulseaudio,
#temperature,
#cpu,
#memory,
#clock,
#battery,
#custom-clipboard {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 0;
	border-radius: 10px;
	transition: none;
	background: #7851A9;
}

#mpd {
	color: #4d4d4d;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #7851A9;
}

#network {
	color: #ffffff;
}

#pulseaudio {
	color: #ffffff;
}

#temperature {
	color: #ffffff;
}

#cpu {
	color: #ffffff;
}

#memory {
	color: #ffffff;
}

#clock {
	margin-right: 12px;
	color: #f8f8f2;
}

#battery {
	margin-right: 3px;
	color: #ffffff;
}

#custom-clipboard {
	margin-right: 8px;
	color: #f8f8f2;
}

#group-spotify {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 12px;
}

#custom-spotify-text,
#custom-spotify-prev,
#custom-spotify-play,
#custom-spotify-next {
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;

  padding-left: 16px;
  padding-right: 16px;

  border-radius: 10px;
  transition: none;

  color: #f8f8f2;
  background: #282a36;
}

#custom-spotify-text {
  margin-left: 8px;
  margin-right: 5px;
}
